.login-popup {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.56); 
    display: grid;
}

.login-container {
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 25px;
    padding: 25px 30px;
    font-size: 14px;
    animation: FadeIn 0.5s;
    border-radius: 8px;
}

.login-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.login-title img {
    width: 16px;
    cursor: pointer;
}

.login-field {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-field input {
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}

.login-container button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: tomato;
    cursor: pointer;
    transition: background 0.3s;
}

.login-container button:hover {
    background-color: darkred;
}

.login-condition {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}

.login-condition input {
    margin-top: 5px;
}

.login-popup p span {
    color: tomato;
    cursor: pointer;
}

@keyframes FadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

