.add {
    width: 80%;
    max-width: 800px;
    margin: 50px;
    color: #6d6d6d;
    font-size: 16px;
  }

  p{
    margin: 10px;
  }
  
  .add form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .add-image-upload {
    display: flex;
    flex-direction: column;
  }
  
  .add-image-upload img {
    width: 112px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .add-product-name, .add-product-description {
    width: 100%;
    max-width: 500px;
  }
  
  .add-product-name input, .add-product-description textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-product-description textarea {
    resize: vertical;
  }
  
  .add-category-price {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  
  .add-category-price .add-category, .add-category-price .add-price {
    width: 48%;
  }
  
  .add-category-price select, .add-category-price input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-button {
    max-width: 200px;
    width: 100%;
    border: none;
    padding: 12px;
    color: white;
    cursor: pointer;
    background-color: #333;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .add-button:hover {
    background-color: #555;
  }
  

  @media (max-width: 768px) {
    .add {
      width: 90%;
      padding: 20px;
    }
  
    .add-category-price {
      flex-direction: column;
      align-items: center;
    }
  
    .add-category-price .add-category,
    .add-category-price .add-price {
      width: 100%;
    }
  }
  