.my-orders {
    margin: 50px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.my-orders-order {
    display: grid;
    grid-template-columns: 0.5px 2fr 1fr 1fr 2fr 1fr;
    padding: 15px 20px;
    color: #333;
    font-size: 14px;
    border: 1px solid tomato;
    border-radius: 8px;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.my-orders-order img {
    width: 50px;
}

.my-orders-order p span {
    color: tomato;
}

.my-orders-order p b {
    font-weight: 600;
    color: #333;
}

.my-orders button {
    border: none;
    padding: 10px 12px;
    border-radius: 4px;
    background-color: #ffe1e1;
    cursor: pointer;
    color: tomato;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}

.my-orders button:hover {
    background-color: tomato;
    color: white;
}

@media (max-width: 900px) {
    .my-orders-order {
        grid-template-columns: 1fr 2fr 1fr;
        row-gap: 10px;
        font-size: 12px;
        padding: 10px;
    }

    .my-orders-order button {
        font-size: 10px;
        padding: 8px;
    }
}

@media (max-width: 600px) {
    .my-orders-order {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 10px;
        padding: 12px;
    }

    .my-orders-order img {
        margin: 0 auto;
    }

    .my-orders-order button {
        width: 100%;
        padding: 10px;
    }
}
